
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


*{
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background: #0F2027;
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    margin: 0;
    min-height: 100vh;
}

.gitlogo{
    height: 100px;
    width: 100px;
    background-image: url(https://i.pinimg.com/originals/b5/1b/78/b51b78ecc9e5711274931774e433b5e6.png);
    background-size: 100px;
    border-radius: 50%;
    margin-bottom: 15px;
}
.gitlogo:hover{
    filter: invert(10%);

}


input{
    margin-bottom: 20px;
    background-color: #0F2027;
    color: white;
    font-family: inherit;
    font-size: 1rem;
    padding: 10px;
    border: none;
    border-radius: 7px;

}

input::placeholder{
    color: #bbb;
}

input:focus{
    outline: none;
}



.card{
    
    background: #0F2027;  /* fallback for old browsers */
    background: linear-gradient(to right, #2C5364, #203A43, #193541); 
    display: flex;
    color: #eee;
    margin: 0px 200px;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(0,0,0,.2);
    max-width: 900px;

}

.avatar{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 10px solid #346d80;
    margin: 10px 20px;
}

.userinfo{
    margin-left: 1rem;
}

.userinfo ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 400px;
}

.userinfo ul li strong{
    font-size: 0.9rem;
    margin-left: 10px;
}

/* .image-container{
    display: flex;
    align-items: center;
    justify-content: center;
} */

.userinfo h5{
    margin-top: -10px;
    margin-bottom: 0;
}

.repo{
    background-color: #0F2027 ;
    text-decoration: none;
    display: inline-block;
    padding: 0.3rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    color: #6ab9db;
}